:root{
  --widtd: 80%;
}
.menu-x{
    list-style-type: none;
    text-decoration: none;
    font-size: .8rem;
}
ul.menu-x{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: auto;
    margin-left: auto;
}
ul.menu-x > li > a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: white;
    background: blue;
}
.subcontent {
    display: none !important; 
    position: absolute;
    
  }

  .sub:hover .subcontent {
    display: block !important;
  }

  .subcontent::after {
    content: " ";
    bottom: 98%;
    left: 10%;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent blue transparent;
  }
  #slideshow {
    overflow:hidden;
    height: 300px;
    width: 500px;
    margin: 0 auto;
  }
 .slide-wrapper {
    width: 2400px;
    animation: slide 8s ease infinite;
  }
 .slide {
    float:left;
    width:580px;
    height:300px;
  }
  .slide img{
    align-items: center;
    margin-left: 50px;
  }
 @keyframes slide {
    20% {margin-left: 0;}
    40% {margin-left: -658px;}
    50% {margin-left: -658px;}
    90% {margin-left: -1224px;}
  }
.section{
  padding:10px;
}
h1.video{
  border: 5px;
  padding: 10px;
  background: linear-gradient(to bottom right, #74ebd5,#ACB6E5);
  border-radius: 10px;
  font-size: 25px;
  color:red;
  text-align: center;
}
.clip{
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  body {
    background-color: blue;
  }
}