:root{
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
    --lightorange: rgba(246, 167, 65, 0.901);
}
html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 1%;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content:center;
}
.signup{
    padding: 90px 75px;
    background: linear-gradient(to bottom right, #74ebd5,#ACB6E5);
    width: 100%;
    max-width: 600px;
    border-radius: 20p;
}
.signup_heading{
    font-size: 35px;
    font-weight:bold;
    color:black;
    text-align:center;
    margin-bottom: 35px;
}
.signup-social{
padding: 10px;
border-radius: 20px;
display:block;
width: 100%;
color:black;
font-size: 16px;
font-weight: bold;
font-family: "Poppins", sans-serif;
border: 0;
background-color:red;
display:flex;
align-items: center;
cursor: pointer;
box-shadow: 0 5px 10px 0 rgba(76, 111, 244, 0.5);
}
.signup-social-icon{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 51, 0);
    font-size: 20px;
}
.signup-social-face{
    padding: 10px;
    margin:3px;
    border-radius: 20px;
    display:block;
    width: 100%;
    color:black;
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: 0;
    background-color:blue;
    display:flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(76, 111, 244, 0.5);
    }
.signup-social-icon-face{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    color:blue;
    font-size: 20px;
}
.signup-social-text{
    display:block;
    margin: 0 auto;
    color: var(--white);
}
.signup-or{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 55px auto;
    position: relative;
}
.signup-or span{
    display:inline-block;
    padding: 10px 30px;
    background-color: var(--white);
    position: relative;
    z-index:2;
}
.signup-or:after{
content: "";
width: 100%;
height: 1px;
background-color:#999;
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
}
.signup-label{
    font-size: 16px;
    color: #373941;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}
.signup-input{
    display: block;
    width: 100%;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: #f2f3f5;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
}
.signup-submit{
    outline: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(23, 171, 121);
    cursor: pointer;

}
