div, p, a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    background-color: #daeef4;;
}
h1.sub p{
    font-size: 35px;
    color:red;
    align-items: center;
}
.news-wrapper .main-news {
    padding: 0 16px 16px 16px;
    background-color: rgba(0,0,0,.03);
}
.main-news .title-news {
    height: 40px;
    margin-bottom: 8px;
}
.title-news p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    padding-top: 8px;
}
a {
    text-decoration: none;
}
.news-item-wrapper {
    padding-top: 16px;
}
.news-item-box {
    display: flex;
    border-bottom: solid 1px rgba(0,0,0,.05);
    padding-bottom: 16px;
}
.thumb-news-item {
    width: 240px;
    height: 128px;
    margin-right: 16px;
}
.thumb-news-item img {
    width: 240px;
    height: 128px;
    border-radius: 4px;
}
.thumb-news-img{
    padding-top: 20px;
}
.name-news.clap {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0;
    font-size: 20px;
    color: blue;
}
.date-news {
    font-family:'Times New Roman', Times, serif;
    font-size: 13px;
    margin-top: 2px;
    color: rgba(0,0,0,.5);
}
.name-news{
    font-size: 30px;
    color: blue;
}
.main-news > .gallery{
    align-items: center !important;
}
footer {

    color: red;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
  }
  footer > span{
    position: relative;
    animation: dichuyen 20s infinite;
  }
  @keyframes dichuyen{
    from{
      left: -50%;
    }
    to{
      left:100%;
    }
  }
  
/*hiệu ứng*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  div.gallery > figure {
    width: 25%;
    margin: 0;
  }

  figure img {
    width: 100%;
  }

  h1.subject {
    text-align: center;
    font-size: 2.5rem;
    color: blue;
    text-shadow: 3px 4px 4px blue;
  }

  h1.subject::after {
    content: "---o0o---";
    display: block;
    font-size: 1.5rem;
    text-shadow: none;
  }

  .subcontent {
    display: none !important; 
    position: absolute;
    
  }

  .sub:hover .subcontent {
    display: block !important;
  }

  .subcontent::after {
    content: " ";
    bottom: 100%;
    left: 10%;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent blue transparent;
  }
  div.gallery > figure {
    width: 25%;
    margin: 0;
}
.c4-izmir {
    background-color: #00B4DB;
    background-color: var(--primary-color);
}
.c4-izmir {
    --text-color: #fff;
    --primary-color: #00B4DB;
    --secondary-color: #0083B0;
    --padding: 1em;
    --transition-duration: 600ms;
    --border-margin: 15px;
    --border-width: 3px;
    --border-color: #fff;
    --border-radius: 3px;
    --image-opacity: .25;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #fff;
    color: var(--text-color);
    border-radius: 3px;
    border-radius: var(--border-radius);
}
* {
    box-sizing: border-box;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.c4-border-top:after, .c4-border-top:before {
    transition-duration: 0s;
}
.c4-border-top:before {
    transition-delay: 480ms;
}
[class*=' c4-border']:before, [class^=c4-border]:before {
    top: 15px;
    top: var(--border-margin);
}
[class*=' c4-border']:after, [class*=' c4-border']:before, [class^=c4-border]:after, [class^=c4-border]:before {
    z-index: 1;
    height: 3px;
    height: var(--border-width);
    left: 15px;
    left: var(--border-margin);
    right: 15px;
    right: var(--border-margin);
    transform: scaleX(0);
}
[class*=' c4-border'] figcaption:after, [class*=' c4-border'] figcaption:before, [class*=' c4-border']:after, [class*=' c4-border']:before, [class^=c4-border] figcaption:after, [class^=c4-border] figcaption:before, [class^=c4-border]:after, [class^=c4-border]:before {
    background-color: #fff;
    background-color: var(--border-color);
    position: absolute;
    content: '';
}
.c4-izmir *, .c4-izmir :after, .c4-izmir :before, .c4-izmir:after, .c4-izmir:before {
    box-sizing: border-box;
    transition: all 600ms ease;
    transition: all var(--transition-duration) ease;
}
.c4-border-top:after, .c4-border-top:before {
    transition-duration: 0s;
}
[class*=' c4-border']:after, [class^=c4-border]:after {
    bottom: 15px;
    bottom: var(--border-margin);
}
[class*=' c4-border']:after, [class*=' c4-border']:before, [class^=c4-border]:after, [class^=c4-border]:before {
    z-index: 1;
    height: 3px;
    height: var(--border-width);
    left: 15px;
    left: var(--border-margin);
    right: 15px;
    right: var(--border-margin);
    transform: scaleX(0);
}
[class*=' c4-border'] figcaption:after, [class*=' c4-border'] figcaption:before, [class*=' c4-border']:after, [class*=' c4-border']:before, [class^=c4-border] figcaption:after, [class^=c4-border] figcaption:before, [class^=c4-border]:after, [class^=c4-border]:before {
    background-color: #fff;
    background-color: var(--border-color);
    position: absolute;
    content: '';
}
.c4-izmir *, .c4-izmir :after, .c4-izmir :before, .c4-izmir:after, .c4-izmir:before {
    box-sizing: border-box;
    transition: all 600ms ease;
    transition: all var(--transition-duration) ease;
}
.c4-izmir img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.c4-izmir *, .c4-izmir :after, .c4-izmir :before, .c4-izmir:after, .c4-izmir:before {
    box-sizing: border-box;
    transition: all 600ms ease;
    transition: all var(--transition-duration) ease;
}
figure img {
    width: 100%;
}
.c4-izmir .c4-layout-top-right {
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
}
.c4-izmir figcaption {
    padding: 2em;
    padding: calc(var(--padding) * 2);
}
[class*=' c4-border'] figcaption, [class^=c4-border] figcaption {
    z-index: 3;
}
.c4-izmir figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.c4-izmir figcaption>* {
    opacity: 0;
}
.c4-izmir h1, .c4-izmir h2, .c4-izmir h3, .c4-izmir h4, .c4-izmir h5, .c4-izmir h6, .c4-izmir p {
    margin-top: 0;
    color: #fff;
    color: var(--text-color);
}
